@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width:992px) {
    body{
        background-image: linear-gradient(to top, #97A6A0, #387373);
    }

    section#login {
        width: 80vw;
    }

    section#login > div#foto {
        float: left;
        height: 100%;
        width: 35%;
    }

    section#login > div#formulario {
        float: right;
        width: 65%;
    }
}

@media screen and (min-width: 992px) {
    body{
        background-image: linear-gradient(to top, #97A6A0, #387373);
    }

    section#login {
        width: 950px;
    }

    section#login > div#foto {
        float: right;
        height: 100%;
        width: 50%;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
    }
}